<layout name="layout" /> 
<nav class="navbar navbar-default" role="navigation">			 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="__APP__/Admin/Prodservice">商品&服务管理</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			      			      
		<ul class="nav navbar-nav ">		      	
			<form action="__URL__/search " method="post" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="search" class="form-control" value="<{$w.search}>" placeholder="商品、分类、货号">
						<span class="input-group-btn">
							 <button type="submit" class="btn btn-default" type="button">Go!</button>
						</span>
					</div>		        					          
				</div>				        
			</form>
			
			
		</ul>
		<ul class="nav navbar-nav navbar-right">		        
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><{$cate}>&nbsp;<{$cate|getCatname=###}> 
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">		            
		            <volist name='arr' id='st' empty="暂无分类">            
                	<li><a href="__URL__/index/cate/<{$st.id}>" title="#"><{$st.pid|getCatname=###}>-<{$st.catname}></a></li>
			    </volist>  
		          </ul>
		        </li>
		        <li><a href="__URL__/add/cate/<{$cate}>" >添加</a></li>
		    </ul>
	</div>			  
</nav> 
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<table class="table table-striped table-bordered table-hover table-condensed ">
	          <tr >	          	
	            <th width=5% align="center" bgcolor="#ccc">顺序</th>
	            <th width=90% align="left"  bgcolor="#ccc"><{$cate}>&nbsp;<{$cate|getCatname=###}></th>  
	         </tr>
	         <form action="__URL__/order" method="post" >
	         <volist name='data' id='st' empty="没有数据">
	            <tr> 	            	
	                <td align="center" ><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
	                <td ><{$st.id|}>.<{$st.name}>
	                    <div class="btn-group pull-right">	
	                    	<a href="__URL__/img/id/<{$st.id}>" class="btn btn-success btn-xs">传图</a>
	                    	<a href="__URL__/fabu/id/<{$st.id}>" class="btn btn-success btn-xs">发布</a>
	                    	<a href="__URL__/xiax/id/<{$st.id}>" class="btn btn-danger btn-xs">下线</a>
	                    	<a href="__URL__/mod/id/<{$st.id}>" class="btn btn-info btn-xs">修改</a>		                
			                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
			                  <span class="caret"></span>
			                  <span class="sr-only">Toggle Dropdown</span>
			                </button>
			                <ul class="dropdown-menu" role="menu">			                  
			                  <li><a href="__URL__/del/id/<{$st.id}>">删除</a></li>                 			                 
			                </ul>
			            </div>
	                </td>                            
	            </tr>
	         </volist>
	            <tr><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn btn-info"></td></tr>
	         </form>
	     </table>
		</div>
	</div>	
</div>	