<layout name="layout" />
<div class="row"> 
  <div class="col-md-9">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title">场景</h3>
	  </div>
	  <div class="panel-body table-responsive">
	  		<ul class="list-group">
	  			<volist name='exe' id='ex' empty="没有数据">
  					<li class="list-group-item">
  					<span>
  						<{$ex.sn}>.<{$ex.swho}>【<{$ex.swhen}>】<{$ex.scene}><span class="badge"><{$ex.results}></span>
  						<a href="__APP__/TAdmin/Exefunc/index/id/<{$ex.id}>"type="button" class="btn btn-info btn-xs pull-right">执行
  						<span class="badge"><{$ex.id|countExeFunc=###}></span></a>  						
  					</span>
  					</li>
  				</volist>
  			</ul>		
	  </div>
  	</div>
  </div>
  <div class="col-md-3 hidden-xs">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">里程碑</h3>
	  </div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
           <switch name="vo.id">
				<case value="$stagetesterid"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default />
				<li class="list-group-item ">
		 </switch> 
		            <a href="__URL__/index/stagetesterid/<{$vo.id}>/type/<{$type}>">
		             <{$vo.prono}><span class="badge"><{$vo.id|countExescene=###}></span><br>
		             <{$vo.stage}></a></span>
             	</li>
        </volist>
      </ol>	  
	</div>
  	 
  </div>
  
</div> 
            
