 <layout name="layout" />
        <div class="place">
                                 所在位置：
             <a href="__URL__">成功案例</a>
             >编辑
            <span style="float:right;margin-right:60px;">
            <a href="__URL__"> 返回</a>
            </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">案例修改</div>
               <div class="left"  >
                    <volist name='arr' id='vo' empty="没有数据">
                       <a href="__URL__/mod/id/<{$vo.id}>""><{$vo.car}>:<{$vo.cat}></a><br>
                    </volist>
              </div>
              <div class="midd" align="center" >
                  <table border="0" width="600" align="left">
                  <form action="__URL__/update" method="post" enctype='multipart/form-data'> 
                    <input type="hidden" name="id" value="<{$data.id}>" />                 
                     <tr><td>分类：</td>
                         <td><input type="text" name="cat" value="<{$data.cat}>" class="input300"/></td>
                     </tr>
                     <tr><td>车型：</td>
                         <td><input type="text" name="car" value="<{$data.car}>" class="input300"/></td>
                     </tr>
                    
                     <tr><td>描述：</td>
                         <td><{$desc}></td>
                     </tr>                     
                     <tr><td></td>
                         <td>
                             <input type="submit" class="btn" name="do_submit" value="修改"></form>
                             <a href="__URL__/add"><button  class="btn" >添加</button></a>
                              <a href="__URL__"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->
