 <layout name="layout" />
 <div class="container">
	<div class="row">
  		<div class="col-md-7">	
  		<h3>用例-编辑</h3>	
  			<div class="panel-body">
  		     	<form action="__APP__/TAdmin/Case/update" method="post" class="form-horizontal" role="form" >
  		     	  <input type="hidden" name="id" value="<{$case.id}>" />  		     	  
  		     	    <div class="form-group">
  		     	      <div class="col-sm-2">
  		     	      </div>
  		     	      <div class="col-sm-10">
  		     	       <{$case.moder}> 更新于:<{$case.updatetime}>
  		     	      </div>
  		     	    </div>
					  <div class="form-group">
					   
					    <label for="short" class="col-sm-2 control-label">顺序:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="sn" value="<{$case.sn}>" placeholder="顺序">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="product" class="col-sm-2 control-label">意图:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="main" value="<{$case.main}>" placeholder="意图">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="product" class="col-sm-2 control-label">预期:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="expected" value="<{$case.expected}>" placeholder="预期">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="state" class="col-sm-2 control-label">状态:</label>
					    <div class="col-sm-10"><{$state}></div>
					  </div>
					  <div class="form-group">
					    <label for="state" class="col-sm-2 control-label">项目:</label>
					    <div class="col-sm-10"><{$fproid}></div>
					  </div>
					  <div class="form-group">
					    <label for="state" class="col-sm-2 control-label">操作:</label>
					    <div class="col-sm-10"><{$caozuo}></div>
					  </div>
					  
					  <button type="submit" class="btn btn-info btn-lg pull-left" style="margin-left:20%;">提 交</button>
                </form>
                 <div class="btn-group pull-right">                       
                        <a href="__APP__/TAdmin/<{$p}>/index/funcid/<{$case.funcid}>" type="button"  class="btn btn-warning btn-lg pull-right " >返 回</a>                        
                  </div>
  		     	</div>	
            
  		</div>
 		 <div class="col-md-5 hidden-xs hidden-sm">
 		 	<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><{$case.funcid|getSPFunc=###}></h3>
            </div>            
            <ul class="list-group">
  			 <volist name='data' id='vo' empty="没有数据">
  			 <li class="list-group-item" >
            	<a href="__URL__/mod/id/<{$vo.id}>/p/<{$p}>"><{$vo.sn}>.【<{$vo.state}>】<{$vo.main}></a>
				</li>
        	</volist>
        	</ul>
        	</div>                            	
  		</div>
	</div>           
</div><!-- container -->  
