<layout name="layout" />
<ol class="breadcrumb">
<h3 >课程-修改
    <a href="__URL__"><button type="button" class="btn btn-warning btn-xs pull-right">返回</button></a>
</h3>
<div class="panel panel-default">

<span class="pull-right" style="margin-right:10%;"><{$arr.moder}>：更新于:<{$arr.updatetime}></span> 
     <div class="panel-body addmod">
          <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form" >
          <input type="hidden" name="id" value="<{$arr.id}>" />
                <div class="form-group ">
                      <label for="exampleInputusername">课程：</label>
                      <input type="text" class="form-control" name="course" value="<{$arr.course}>" placeholder="课程" >  
                  </div>
                  <div class="form-group ">
                      <label for="exampleInputrealname">简介：</label>
                      <textarea class="form-control" name="desc" rows="2"placeholder="课程简介"><{$arr.desc}></textarea>                      
                  </div>
                  <div class="form-group ">
                      <label for="exampleInputusername">分类：</label>
                      <{$coursetype}>
                  </div>                
                   <div class="form-group ">
                      <label for="exampleInputusername">状态：</label>
                      <{$state}> 
                      <p>*只有“发布”状态才可以在前台显示</p>
                  </div>
                  <button type="submit" class="btn btn-info  pull-left" >提 交</button>
           </form>           
     </div>
</div>
 
     