<layout name="layout" />
<div class="content">
  <div class="index_main">
    <div class="danye_left">	
	  <div class="danye_help mat8">
		<div class="danye_list">				
		    <h3>钣金喷漆</h3>
			<ul>
			  <li><a href="__URL__/banj" title="#">钣金</a></li>
			  <li><a href="__URL__//index" title="#">喷漆</a></li>			  		  
			</ul>
		</div>
		<div class="danye_list">				
		    <h3>维修保养</h3>
			<ul>
			  <li><a href="__URL__/weix" title="<{$page[9].name}>">维修</a></li>
			  <li><a href="__URL__/sbaoy" title="<{$page[10].name}>">小保养</a></li>
			  <li><a href="__URL__/bbaoy" title="<{$page[10].name}>">大保养</a></li>						    
			</ul>
		 </div>
	   </div>
     </div>
	
    <div class="danye_right">
        <div class="page_tt">大保养</div>
		<div class="danye_main">
		大保养的内容：
大保养是指在厂商规定的时间或里程，进行的内容为更换机油和机油滤芯、空气滤芯、汽油滤芯的常规保养。
大保养的间隔：
大保养是基于小保养的存在，一般这两种保养交替进行。间隔因汽车品牌差异各有不同，具体还请以厂商推荐为准。
大保养中的用品：
除了更换机油和机油滤清器之外，汽车大保养中还有以下两个项目：
1、空气滤清器
发动机在工作过程中要吸进大量的空气，如果空气不经过滤，其中的尘埃会加速活塞组及气缸的磨损。较大的颗粒进入活塞与气缸之间，还会造成严重的“拉缸”现象。空气滤芯的作用就是滤除空气中的灰尘、颗粒，保证气缸中进入足量、清洁的空气。
2、汽油滤清器
汽油滤芯的作用是为发动机提供清洁的燃油，过滤掉汽油的水分及杂质。从而使发动机性能达到最优化，同时也为发动机提供了最佳保护。
通常，在进行汽车保养时，作业人员会根据车子的具体情况做其他检查，还会增加其他保养项目，比如发动机相关系统的检查清洗养护、轮胎的定位检查、各紧固部件的检查等等。
		</div>		
   </div>
  
  
  
  </div><!--index_main  -->
</div><!--content  -->