<layout name="layout" />
<div class="content">
  <div class="index_main">
    <div class="danye_left">	
	  <div class="danye_help mat8">
		<div class="danye_list">				
		    <h3>钣金喷漆</h3>
			<ul>
			  <li><a href="__URL__/banj" title="#">钣金</a></li>
			  <li><a href="__URL__//index" title="#">喷漆</a></li>			  		  
			</ul>
		</div>
		<div class="danye_list">				
		    <h3>维修保养</h3>
			<ul>
			  <li><a href="__URL__/weix" title="<{$page[9].name}>">维修</a></li>
			  <li><a href="__URL__/sbaoy" title="<{$page[10].name}>">小保养</a></li>
			  <li><a href="__URL__/bbaoy" title="<{$page[10].name}>">大保养</a></li>						    
			</ul>
		 </div>
	   </div>
     </div>
	
    <div class="danye_right">
        <div class="page_tt">汽车喷漆</div>
		<div class="danye_main">
		<p>汽车喷漆一般用烘烤漆。形式有普通漆、金属漆、珠光漆。汽车喷漆工序：刮腻子、打磨、喷漆等。</p>
		<img alt="" src="__IMAGES__penqi.jpg" width="750px">
		<h1>流程</h1>
		<p><ul>
		<ol>（1）车体作防锈及内部喷涂：视车身情况由钣金工完成。</ol>
<ol>（2）打磨及修饰斜边：使用P60~180#砂纸打磨车身上经过钣金修补及需要原子灰的地方。</ol>
<ol>（3）除尘、清洁：使用压力枪及除硅清洁剂清除车身上的微尘及污渍。</ol>
<ol>（4）贴护：使用反贴技巧贴上遮蔽纸。</ol>
<ol>（5）涂装底漆：混合4：1红底漆及施喷1~2层打磨后露出金属的位置上，然后烤干。</ol>
<ol>（6）填补原子灰：混合多功能原子灰填补于车身上凹陷位置，置于摄氏20度环境30分钟。</ol>
<ol>（7）打磨原子灰：使用P60~240#砂纸打磨，用手感或打磨指示层检查平整度，针孔和印痕。</ol>
<ol>（8）特幼原子灰：有需要时选用，填补针孔、砂纸痕等。</ol>
<ol>（9）打磨：使用P280#砂纸彻底打磨车身上需喷涂中间漆的旧漆。</ol>
<ol>（10）除尘、清洁：使用压力枪及除硅清洁剂清除车身上的灰尘及污渍。</ol>
<ol>（11）贴护：贴上遮蔽纸。</ol>
<ol>（12）喷涂中间漆：混合多功能中间漆2~3层，每层隔5~10分钟，然后烤干摄氏60度30分钟，再喷上打磨指示层。</ol>
<ol>（13）打磨中间漆：使用P320~400#砂纸打磨干燥后的中间漆。</ol>
<ol>（14）检查：检查打磨效果，可做微填。</ol>
<ol>（15）除尘、清洁：清除车身上的灰尘和污渍。</ol>
<ol>（16）贴护：对车身做贴护遮蔽。</ol>
<ol>（17）除尘、清洁：先用压力枪吹出车身上的尘点，用除硅清洁剂清除车身污渍，用压力枪吹出车身缝隙的灰尘，最后以粘尘布粘除车身上的微尘。</ol>
<ol>（18）面漆喷涂素色漆：喷涂2~3层，每层相隔5~10分钟，配合温度添加固化剂和稀释剂。</ol>
<ol>（19）喷涂底色漆：喷涂2~3层素色漆、银粉漆或珍珠漆，每层间隔5~10分钟。</ol>
<ol>（20）清漆喷涂：混合及施喷两层清漆，每层间隔5~10分钟，配合温度添加固化剂和稀释剂。</ol>
<ol>（21）烤干：静置5~10分钟，摄氏60度干燥30分钟。干燥固化需判断，若用手指轻触感到发粘，则为表面干燥，若轻触不留有指痕，则为半硬干燥，若强压不留指痕，则完全干燥。</ol>
<ol>（22）打蜡抛光。</ol>
<ol>（23）遮盖汽车。遮盖汽车的目的是防止喷雾喷到不该喷到的地方，常规的基本遮盖
材料是遮盖纸和遮盖带。汽车遮盖纸的宽度从7cm～91cm不等，是耐热的，一般可在烘房内安全使用，其湿强度好，可防止溶剂渗透（注意：不能用报纸遮盖，报纸耐热性不强，且含有印刷油墨，油墨会溶于油漆溶剂中，渗入下面的面漆，造成污染）。</ol>
		</ul></p>
		</div>		
   </div>
  
  
  
  </div><!--index_main  -->
</div><!--content  -->