<layout name="layout" />
<div class="content">
  <div class="index_main">
    <div class="danye_left">	
	  <div class="danye_help mat8">
		<div class="danye_list">				
		    <h3>钣金喷漆</h3>
			<ul>
			  <li><a href="__URL__/banj" title="#">钣金</a></li>
			  <li><a href="__URL__//index" title="#">喷漆</a></li>			  		  
			</ul>
		</div>
		<div class="danye_list">				
		    <h3>维修保养</h3>
			<ul>
			  <li><a href="__URL__/weix" title="<{$page[9].name}>">维修</a></li>
			  <li><a href="__URL__/sbaoy" title="<{$page[10].name}>">小保养</a></li>
			  <li><a href="__URL__/bbaoy" title="<{$page[10].name}>">大保养</a></li>						    
			</ul>
		 </div>
	   </div>
     </div>
	
    <div class="danye_right">
        <div class="page_tt">小保养</div>
		<div class="danye_main">
		小保养的内容：
小保养一般是指汽车行驶一定距离后，为保障车辆性能而在厂商规定的时间或里程做的常规保养项目。主要包括更换机油和机油滤芯。
小保养的间隔：
小保养的时间取决于所用机油和机油滤芯的有效时间或里程。不同品牌级别的矿物质机油、半合成机油、全合成机油有效期也不尽相同，请以厂商推荐为准。机油滤芯一般分常规及长效两种，常规机油滤芯随机油一起更换，长效机油滤芯使用时间更长。
小保养中的用品：
1、机油就是发动机运转的润滑油。能对发动机起到润滑、清洁、冷却、密封、减磨等作用。对于降低发动机零件的磨损，延长使用寿命有着重要的意义。
2、机油滤芯机是过滤机油的部件。机油中都含有一定量的胶质、杂质、水分和添加剂；在发动机工作过程中，各部件摩擦产生的金属屑、吸入空气中的杂质、机油氧化物等，都是机油滤芯过滤的对象。若机油不作过滤，直接进入油路循环，将会对发动机的性能和寿命产生不利的影响。
		</div>		
   </div>
  
  
  
  </div><!--index_main  -->
</div><!--content  -->