<layout name="layout" />
<div class="content">
  <div class="index_main">
    <div class="danye_left">	
	  <div class="danye_help mat8">
		<div class="danye_list">				
		    <h3>钣金喷漆</h3>
			<ul>
			  <li><a href="__URL__/banj" title="#">钣金</a></li>
			  <li><a href="__URL__//index" title="#">喷漆</a></li>			  		  
			</ul>
		</div>
		<div class="danye_list">				
		    <h3>维修保养</h3>
			<ul>
			  <li><a href="__URL__/weix" title="<{$page[9].name}>">维修</a></li>
			  <li><a href="__URL__/sbaoy" title="<{$page[10].name}>">小保养</a></li>
			  <li><a href="__URL__/bbaoy" title="<{$page[10].name}>">大保养</a></li>						    
			</ul>
		 </div>
	   </div>
     </div>
	
    <div class="danye_right">
        <div class="page_tt">维修</div>
		<div class="danye_main">内容</div>		
   </div>
  
  
  
  </div><!--index_main  -->
</div><!--content  -->