<layout name="layout" />
<h3 >上传图片<a href="__URL__"><button type="button" class="btn btn-warning btn-xs pull-right">返回</button></a></h3>
<div class="panel panel-default">
	<div class="panel-body">
		<form action="__URL__/img" method="post" enctype='multipart/form-data'  role="form">
		   <input type="hidden" name="id" value="<{$arr.id}>" /> 
		   <div class="form-group"><label for="exampleupdatetime"><{$arr.cate}>:<{$arr.sname}></label><br></div>		                          
		   <div class="panel panel-default" style="width:300px;">
		       <img alt="__UPLOAD__/<{$_SESSION['qz']}><{$arr.path}><{$arr.img}>" src="__UPLOAD__/<{$_SESSION['qz']}><{$arr.path}><{$arr.img}>" width="100%">
		   </div>
		   <div class="form-group "><input type="file" name="img" > </div>                            
		   <button type="submit" class="btn btn-info" >上 传</button>
		</form>	
	</div>
</div>