<layout name="layout" />
<div class="row"> 
  <div class="col-md-9">
  <h2>规则 <span class="pull-right">当前：<{$_SESSION['proid']|getProNo=###}></span></h2>
  	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	      <{$arr.sn}>.<{$arr.id|getSPFunc=###}>	     
	  </div>  
	  <ul class="list-group">	  
	         <volist name='rules' id='rule' empty="没有规则">
	            <li class="list-group-item">
	               <{$rule.sn}>.<{$rule.id}>:【<{$rule.state}>】<{$rule.rules}>(<{$rule.fproid|getProNo=###}>)
	                <span class="badge"><{$rule.source}></span>
	            </li>
	        </volist>
	  </ul>
	</div>
    
  </div>
  <div class="col-md-3 hidden-xs">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><b>路径：</b><{$arr.pathid|getPath=###}></h3>
	  </div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
           <switch name="vo.id">
				<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default /><li class="list-group-item ">
		 </switch> 
            <a href="__URL__/index/funcid/<{$vo.id}>">
            	<{$vo.sn}>.【<{$vo.state}>】<{$vo.func}></a><span class="badge"><{$vo.id|countFRules=###}></span></li>
        </volist>
      </ul>	  
	</div>
  	 
  </div>
  
</div> 