<layout name="layout" />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><{$w.proid|getPro=###}></h3>
  </div>
  <div class="panel-body table-responsive">
  	 <{$arr.prono}>:<{$arr.program}><br>
	 <{$arr.retype}>:<{$arr.relevel}>，产品经理：<{$arr.pm}><br>
	 <div class="well well-sm"><{$arr.profile}></div>
  
    	<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" ><a href="__APP__/Home/Stage/index/proid/<{$w.proid}>">里程碑<span class="badge"><{$w.proid|countStage=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Home/Risk/index/proid/<{$w.proid}>">风险<span class="badge"><{$w.proid|countRisk=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Home/Func/func/proid/<{$w.proid}>">功能点</a></li>
		  <li role="presentation" class="active"><a href="__APP__/Test/Func/range/proid/<{$w.proid}>">范围<span class="badge"><{$w.proid|countRange=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Home/Scene/index/proid/<{$w.proid}>">场景<span class="badge"><{$w.proid|countScene=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Home/Case/procase/proid/<{$w.proid}>">用例<span class="badge"><{$w.proid|countCase=###}></span></a></li>
		  
		</ul>

		<table class="table table-striped table-bordered table-hover table-condensed ">
              <tr >
                 <th width=2% bgcolor="#ccc">ID</th>                               
                 <th width=14% bgcolor="#ccc">功能</th>
                 <th width=2% bgcolor="#ccc">结果</th>
                 <th width=2% bgcolor="#ccc">历史</th>
                  <th width=14%  bgcolor="#ccc">路径</th>  
                 
             </tr>
             <volist name='data' id='st' empty="没有数据">
             
             <switch name="st.result">
			    <case value="通过"> <tr class="success"></case>
			    <case value="失败"><tr class="danger"></case>
			    <default /><tr class="info">
			</switch>
             
            
                  <td align="center" ><{$st.id}></td>                
                  <td align="left" >【<{$st.state}>】<{$st.func}>
                  	 <div class="btn-group pull-right">
						  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
						    	用例  <span class="badge"> <{$st.id|countFCase=###}></span><span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu " role="menu">
						    <li ><a target="_blank" href="__APP__/Home/Case/index/funcid/<{$st.id}>">用例 <span class="badge"> <{$st.id|countFCase=###}></span></a></li>
						    <li class="divider "></li>
						    <li ><a target="_blank" href="__APP__/Home/Rules/index/funcid/<{$st.id}>">规则  <span class="badge"> <{$st.id|countFRules=###}></span></a></li>						    
						  </ul>
					 </div>
                  </td>
                  <td align="center" ><{$st.result}></td>
                  <td align="center" >
                       <a target="_blank" href="__APP__/Home/Test/index/funcid/<{$st.id}>/proid/<{$w.proid}>"><{$st.id|countFResult=###}>/<{$st.id|countFQResult=###}></a>
                  </td>
                  <td align="left">【<{$st.pstate}>】<{$st.path}></td>
              </tr>
              </volist>
         </table>
        			
  </div>
</div>

