<layout name="layout" />
  <h1 ><{$testgp}>组成员</h1>  
       
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">		
			<volist name='data' id='st' empty="没有数据">
			<div class="panel panel-default">
			 	<div class="media">
				  <a class="media-left" href="#">
				    <img src="__UPLOAD__<{$st.path}>thumb_<{$st.img}>" alt="..." height="100px">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading pull-right">
				    	<div >
				    	员工号：<{$st.userno}><br>
				    	登录名：<{$st.username}><br>
				    	姓名:<{$st.realname}><br>
				    	电话：<{$st.phone}>
				    	</div>													
				    </h4>  
				  </div>
				</div>
	
			</div>		                      
			</volist>
	</div>	 