<layout name="layout" />
<div class="content">
  <div class="index_main">
    <div class="danye_left">	
	  <div class="danye_help mat8">
		<div class="danye_list">				
		    <h3>汽车用品</h3>
			<ul>
			  <li><a href="__APP__/Home/Articles/index" title="#">保养用品</a></li>
			  <li><a href="__APP__/Home/Articles/index" title="#">易耗品</a></li>			  		  
			</ul>
		</div>
	   </div>
     </div>
	
    <div class="danye_right">
        <div class="page_tt">保养用品</div>
		<div class="danye_main">内容</div>		
   </div>
  
  
  
  </div><!--index_main  -->
</div><!--content  -->