<div class="clear"></div>
<div class="foot">
   <div class="flink">
		<span ><b>友情链接：</b></span>
		<a href="http://v.autohome.com.cn/u/20380947#pvareaid=106554" title="#" target="_blank">用车小百科</a>
		<a href="http://i.yiche.com/u4394078/!video/publish/" title="#" target="_blank">萝卜报告</a>
		<a href="http://i.yiche.com/u8512451/!video/publish/" title="#" target="_blank">汽车洋葱圈</a>
		<a href="http://i.yiche.com/u7623024/!video/publish/" title="#" target="_blank">ASK吱吱吱</a>
		<a href="http://i.yiche.com/u15542135/!video/publish/" title="#" target="_blank">爽爽侃车</a>

	</div>
  
	<div class="foot navbar-bottom list-inline text-center">
         	Copyright <span class="num">&copy;</span> 2016-2017
     		<a target="_blank" href="#"><b>yaolh</b></a> 版权所有<br>
     		<span>备案号：<{$_SESSION['record']}>;<br>IP:<{$_SESSION['ip']}>;浏览器：<{$_SESSION['os']}>-<{$_SESSION['browser']}></span>
     		<p>咨询热线：<{$_SESSION['phone']}><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<{$_SESSION['qq']}>&amp;site=qq&amp;menu=yes" target="_blank">
				<img border="0" title="在线客服" alt="在线客服" style="margin-top:0px;" src="http://wpa.qq.com/pa?p=2:<{$_SESSION['qq']}>:41"></a>　</p>
				<p>IP:<{$_SESSION['ip']}></p></div>
    	</div>
    </div>

    <import type="js" file="js.jquery"/>
    <!--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
    <import type="js" file="js.bootstrap"/>
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
 </body>
</html>
