 <layout name="layout" />
 <div class="row"> 
  <div class="col-md-9">
  <h2>规则 <span class="pull-right">当前：<{$_SESSION['proid']|getProNo=###}></span></h2>
  	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	      <{$arr.sn}>.<{$arr.id|getSPFunc=###}>
	     <a data-toggle="modal" href="#tianjrule" class=" btn btn-info btn-xs pull-right" ><span class="glyphicon glyphicon-plus"></span> 添加</a>
	  </div>  
	  <!-- List group -->
	  <ul class="list-group">
	   <form action="__URL__/order" method="post" >
	         <volist name='rules' id='rule' empty="没有规则">
	            <li class="list-group-item">
	                <input type="text" name="sn[<{$rule.id}>]" value="<{$rule.sn}>"  class="input40"/>
	                <a  href="__URL__/mod/id/<{$rule.id}>/funcid/<{$arr.id}>"><{$rule.id}>:【<{$rule.state}>】<{$rule.rules}>(<{$rule.fproid|getProNo=###}>)</a>
	                <span class="badge"><{$rule.source}></span>
	            </li>
	        </volist>
	        <input type="submit" name="do_submit" value="批量排序" class="btn">
	    </form>
	  </ul>
	</div>
    
  </div>
  <div class="col-md-3 hidden-xs">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><b>路径：</b><{$arr.pathid|getPath=###}></h3>
	  </div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
           <switch name="vo.id">
				<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default /><li class="list-group-item ">
		 </switch> 
            <a href="__URL__/index/funcid/<{$vo.id}>">
            	<{$vo.sn}>.【<{$vo.state}>】<{$vo.func}></a><span class="badge"><{$vo.id|countFRules=###}></span></li>
        </volist>
      </ul>	  
	</div>
  	 
  </div>
  
</div> 


<!-- 添加-模态框 -->
<div class="modal fade " id="tianjrule" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">规则-添加</h4>
	    </div>
	    <div class="modal-body">
	      	<form action="__URL__/insert" method="post" class="form-horizontal" role="form" >
	      	<input type="hidden" name="funcid" value="<{$arr.id}>" />
	      	<input type="hidden" name="fproid" value="<{$_SESSION['proid']}>" />
				<div class="form-group">
					<label for="short" class="col-sm-2 control-label">顺序:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="sn" value="<{$c}>" placeholder="顺序">
					</div>
				</div>
				<div class="form-group">
					<label for="product" class="col-sm-2 control-label">规则:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="rules" value=" " placeholder="规则">
					</div>
				</div>
				
				<div class="form-group">
					<label for="product" class="col-sm-2 control-label">来源:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="source" value="需求文档 " placeholder="来源">
					</div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10"><{$state}></div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">备注:</label>
					<div class="col-sm-10"><{$beizhu}></div>
				</div>							
		</div>
		<div class="modal-footer">
		     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		     <button type="submit" class="btn btn-primary">提交</button></form>
		</div>
    </div>       
  </div>  