<layout name="layout" />
<img src="__IMAGES__/hr.png" alt="__IMAGES__/hr.png" width="100%">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h3 class="panel-title">诚聘人才</h3>
     </div>
     <div class="panel-body">
     	<volist name='data' id='vo' empty="暂时没有招聘信息">
	           <div class="panel panel-info">
				  <div class="panel-heading">
				  	<{$vo.title}>
				  	<span class="label label-danger"><{$vo.state}></span> 
				  	<span class="pull-right">发布日期：<{$vo.rtime}></span>
				  </div>
				  <div class="panel-body">
				    <b>职位：</b><{$vo.title}><br>
				    <b>人数：</b><{$vo.num}><br>
				    <b>工资：</b><{$vo.salary}><br>				    
				    <b>要求：</b><{$vo.desc}><br>
				    <b>电话：</b><{$_SESSION['tel']}><br>
				    <b>地址：</b><{$vo.place}>
				    
				  </div>
				</div>
         </volist> 
     </div>
             	
</div>          	
