<layout name="layout" />
<div class="row">
  <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <{$_SESSION['proid']|getPro=###}>
            <a href="__APP__/TAdmin/Exescene/index/type/M/stagetesterid/<{$arr.stagetesterid}>"
			type="button" class="btn btn-info btn-xs pull-right" >返回</a>
          </h3>
        </div>
        <div class="panel-body table-responsive">
           <div class="well well-sm">
              <h4><{$arr.sn}>.角色:<{$arr.swho}>,时间:<{$arr.swhen}>,场景:<{$arr.scene}>
              <span class="badge"><{$arr.results}></span>
				  <div class="btn-group pull-right">
					  <a  href="__APP__/TAdmin/Exescene/pass/id/<{$arr.id}>" title="标记测试通过" type="button" class="btn btn-success ">
					  <span class="glyphicon glyphicon-ok">通过</span></a>
					  <a href="__APP__/TAdmin/Exescene/fail/id/<{$arr.id}>"  title="标记测试失败" type="button" class="btn btn-danger">
					    <span class="glyphicon glyphicon-remove">失败</span></a>					  
					</div>
	          </h4>
              <div class="well well-sm">流程:<{$arr.flow}></div> 
           </div>
           <table border="1" width="100%" align="center">
                        <tr>
                           <th width=30% align="left" bgcolor="#ccc">功能</th>
                           <th width=10% align="left" bgcolor="#ccc">说明</th>                                                     
                           <th width=5% align="left" bgcolor="#ccc">意图</th>
                           <th width=2% align="center" bgcolor="#ccc">num1</th>
                        </tr>
                     <volist name='exe' id='ex' empty="没有数据">
                        <tr>
                          <td align="left" ><{$ex.sn}>.<{$ex.path}>-<{$ex.func}>(<{$ex.funcremarks}>):<{$ex.result}>
                          
                          <div class="btn-group pull-right">
							  <a href="__URL__/pass/id/<{$ex.id}>"  type="button" class="btn btn-success">标记</a>							  
							  <div class="btn-group">
								  <a target="_blank" href="__APP__/TAdmin/Case/index/funcid/<{$ex.funcid}>"  type="button" class="btn btn-info">用例<{$ex.funcid|countFCase=###}></a>
								  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a target="_blank" href="__APP__/TAdmin/Rules/index/funcid/<{$ex.funcid}>" >规则<{$ex.funcid|countFRules=###}></a></li>
								    <li class="divider "></li>
								    <li><a target="_blank" href="__APP__/TAdmin/Element/index/funcid/<{$ex.funcid}>" >模板</a></li>
								  </ul>
								</div>
							</div>                            
                         </td> 
                        <form action="__URL__/update" method="post" >
                            <input type="hidden" name="id" value="<{$ex.id}>" />
                            <input type="hidden" name="result" value="失败" />
                         	<td align="left" >
                         		<input type="text" name="remark" value="<{$ex.remark}>" class="pull-left"/>
                         		 <span class="pull-left">
                         		 <button  class="btn btn-danger">失败 </button>
                         		 </form>
                         		 </span>
                         	</td>
                                                
                         <td align="left" ><{$ex.main}></td>
                         <td align="center" ><{$ex.num1}></td>
                       </tr>
                    </volist>
          </table>
        </div>
      </div>
  </div>
  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><{$_SESSION['testgp']}>测试项目</h3>
      </div>
      <ul class="list-group">
        <volist name='data' id='vo' empty="没有数据">
              <switch name="vo.id">
          <case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>
          <default />
            <li class="list-group-item ">
        </switch>
              <a href="__URL__/index/id/<{$vo.id}>"><{$vo.sn}>:<{$vo.swho}>【<{$vo.swhen}>】<{$vo.scene}><br />
                  <{$vo.results}>:<{$vo.id|countExeFunc=###}>
              </a>
            </li>
          </volist>
        </ul>
    </div>
  </div>
</div>

