<layout name="layout" />
<div class="row">
  <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><{$_SESSION['proid']|getPro=###}>
            <a href="__APP__/TAdmin/Exescene/index/type/M/stagetesterid/<{$arr.stagetesterid}>"
			type="button" class="btn btn-warning btn-xs pull-right" >
			<span class="glyphicon glyphicon-arrow-left"> 返回</span></a></a>
          </h3>
        </div>
           <div class="well well-sm">
              <h4><{$arr.sn}>.角色:<{$arr.swho}>,时间:<{$arr.swhen}>,场景:<{$arr.scene}>
              <span class="badge"><{$arr.results}></span>
				  <div class="btn-group pull-right">
					  <a  href="__APP__/TAdmin/Exescene/pass/id/<{$arr.id}>" title="标记测试通过" type="button" class="btn btn-success btn-xs">
					  <span class="glyphicon glyphicon-ok">通过</span></a>
					  <a href="__APP__/TAdmin/Exescene/fail/id/<{$arr.id}>"  title="标记测试失败" type="button" class="btn btn-danger btn-xs">
					    <span class="glyphicon glyphicon-remove">失败</span></a>					  
					</div>
	          </h4>
              <div class="well well-sm"><b>流程:</b><{$arr.flow}></div>
              
			  <volist name='exe' id='ex' empty="没有数据">
			  	<switch name="ex.result">
		          <case value="通过"><div class="panel panel-success"></case>
		          <case value="失败"><div class="panel panel-danger"></case>
		          <default /><div class="panel panel-default">
		      </switch>   			  		
					<nav class="navbar navbar-default" role="navigation">
					  <div class="container-fluid">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" >
					      	<{$ex.sn}>.
					      	<switch name="ex.result">
					          <case value="通过"><span class="label label-success"></case>
					          <case value="失败"><span class="label label-danger"></case>
					          <default /><span class="label label-default">
					      	</switch>
					        	<{$ex.result}>
					        </span>
					        <{$ex.path}>
					        <{$ex.func}>(<{$ex.funcremarks}>)意图：<{$ex.main}>
					        
					        
					      </a>
					    </div>
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav navbar-right">
					      	<li><a href="__URL__/pass/id/<{$ex.id}>" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok">标记通过</span></a></li>
					      	<li class="dropdown">
					          <a class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">用例<{$ex.funcid|countFCase=###}> 
					           <span class="caret"></span>
					           </a>
					          <ul class="dropdown-menu" role="menu">
					          	<li><a target="_blank" href="__APP__/TAdmin/Case/index/funcid/<{$ex.funcid}>" >用例<{$ex.funcid|countFCase=###}></a></li>					      	
						        <li><a target="_blank" href="__APP__/TAdmin/Rules/index/funcid/<{$ex.funcid}>" >规则<{$ex.funcid|countFRules=###}></a></li>
						        <li><a target="_blank" href="__APP__/TAdmin/Element/index/funcid/<{$ex.funcid}>" >模板</a></li>
					      	  </ul>
					      </ul>
					      <form action="__URL__/update" method="post" class="navbar-form navbar-left" role="search">
					        <div class="input-group">
					          <input type="hidden" name="id" value="<{$ex.id}>" />
					          <input type="hidden" name="result" value="失败" />
					          <input type="text"  name="remark" value="<{$ex.remark}>" placeholder="测试失败描述" class="input300"/>
					          <input type="text" name="bugid" value="<{$ex.bugid}>" placeholder="Bugid" class="input80"/>
					        
						        <span class="input-group-btn">
						        	<button  class="btn btn-danger btn-xs" type="submit" ><span class="glyphicon glyphicon-remove">标记失败</span> </button>
						        </span>
					        </div>
					      </form>
					    </div>
					  </div>
					</nav>
				</div> 
			  </volist>

			  
           </div>
           
          
      </div>
  </div>
  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><{$_SESSION['testgp']}>测试项目</h3>
      </div>
      <ul class="list-group">
        <volist name='data' id='vo' empty="没有数据">
              <switch name="vo.id">
          <case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>
          <default />
            <li class="list-group-item ">
        </switch>
              <a href="__URL__/index/id/<{$vo.id}>"><{$vo.sn}>:<{$vo.swho}>【<{$vo.swhen}>】<{$vo.scene}><br />
                  <{$vo.results}>:<{$vo.id|countExeFunc=###}>
              </a>
            </li>
          </volist>
        </ul>
    </div>
  </div>
</div>

