<layout name="layout" />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><{$arr.id|getPro=###}>
    	<a href="__APP__/Test" type="button" class="btn btn-warning btn-xs pull-right">返回</a>
    </h3>
  </div>
  <div class="panel-body table-responsive">
	<b> 产品经理：</b><{$arr.po}><b> 项目经理：</b><{$arr.pm}><b> 研发：</b><{$arr.rd}><b> 测试：</b><{$arr.qd}><br>
	 <div class="well well-sm"><{$arr.desc}></div>	  
    	<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" ><a href="__APP__/Test/Stage/index/proid/<{$arr.id}>">里程碑
		  <span class="badge"><{$arr.id|countStage=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Test/Risk/index/proid/<{$arr.id}>">风险
		  <span class="badge"><{$arr.id|countRisk=###}></span></a></li>
		  <li role="presentation" class="active"><a href="__APP__/Test/Func/func/proid/<{$arr.id}>">功能点</a></li>
		  <li role="presentation" "><a href="__APP__/Test/Func/range/proid/<{$arr.id}>">范围
		  <span class="badge"><{$arr.id}></span></a></li>
		  <li role="presentation"><a href="__APP__/Test/Scene/index/proid/<{$arr.id}>">场景
		  <span class="badge"><{$arr.id|countScene=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Test/Case/procase/proid/<{$arr.id}>">用例
		  <span class="badge"><{$arr.id|countCase=###}></span></a></li>
		  <li role="presentation"><a href="__APP__/Test/Rules/prorules/proid/<{$arr.id}>">本期需求
		  <span class="badge"><{$arr.id|countPRules=###}></span></a></li>
		  
		</ul>
        <table class="table table-striped table-bordered table-hover table-condensed ">
            <volist name='data' id='st' empty="没有数据">
                <switch name="st.state">
					<case value="待确认"> <tr class="warning"></case>
					<case value="已搁置"><tr class="danger"></case>
					<case value="作废"><tr class="danger"></case>
					<default /><tr class="info">
				</switch>
                    <td align="left" ><{$st.id}>.<{$st.system}>-<{$st.path}>-<b><{$st.func}></b>【<{$st.state}>】
                    	<span class="badge"><{$st.fproid|getProNo=###}></span>
                       	<div class="btn-group pull-right">
							<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
								 用例 <span class="badge"><{$st.id|countFCase=###}></span><span class="caret"></span>
							</button>
							<ul class="dropdown-menu " role="menu">
								<li ><a target="_blank" href="__APP__/Test/Case/index/funcid/<{$st.id}>">用例 
								<span class="badge pull-right"><{$st.id|countFCase=###}></span></a></li>
								<li class="divider "></li>
								<li ><a target="_blank" href="__APP__/Test/Rules/index/funcid/<{$st.id}>">规则
								<span class="badge pull-right"><{$st.id|countFRules=###}></span></a></li>						    
							</ul>
						</div>
                     </td>                      
                 </tr>
           </volist>
       </table>
    </div>
  </div>
