<layout name="layout" />
	<div class="row">
        <div class="col-sm-9">
           	<div class="panel panel-primary">
             	<div class="panel-heading">
                 	<h3 class="panel-title">诚聘人才</h3>
             	</div>
             	<div class="panel-body">   
             	<img src="__IMAGES__/hr.png" alt="__IMAGES__/hr.png" width="100%">             	
        			<volist name='data' id='vo' empty="暂时没有招聘信息">
       					<div class="col-xs-12 col-md-4">
					        <div class="panel panel-primary">
								<div class="panel-heading"><b><{$vo.title}></b>
								  	<span class="label label-danger"><{$vo.state}></span> 
								  	<span class="pull-right">发布日期：<{$vo.rtime}></span>
								</div>
								<div class="panel-body">
								   <b>职位：</b><{$vo.title}><br>
								   <b>人数：</b><{$vo.num}><br>
								   <b>工资：</b><{$vo.salary}><br>				    
								   <b>要求：</b><{$vo.desc}><br>
								   <b>电话：</b><{$_SESSION['Xiuli']['tel']}><br>
								   <b>地址：</b><{$vo.place}>				    
								</div>
							</div>
						</div> 	
			 		</volist>		
   				
            	</div>
        	</div>          	
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
             	<div class="panel-heading">
                  	<h3 class="panel-title">关于我们</h3>
            	</div>            
                <ul class="list-group">
			        <li class="list-group-item"><a href="__APP__/Anshun/About/about" title="关于我们">关于我们</a></li>
			        <li class="list-group-item"><a href="__APP__/Anshun/About/tech" title="技师风采">技师风采</a></li>
			        <li class="list-group-item">诚聘人才</li>
			    </ul>                        
            </div>          
        </div>
    </div>
