<layout name="layout" />
	<div class="row">
        <div class="col-sm-9">
           	<p class="pull-right visible-xs">
               <button class="btn-xs btn-primary"></button>
           	</p>
           	<div class="panel panel-primary">
             	<div class="panel-heading">
                 	<h1 class="panel-title">技师风采</h1>
             	</div>
             	<div class="panel-body">
                 	
        			<volist name='data' id='vo' empty="没有数据">
       					<div class="media">
						<a class="media-left" href="#">
						    <img src="__UPLOAD__<{$vo.path}><{$vo.photo}>" alt="<{$vo.photo}>" class="img-circle" height="100px">
						</a>
						<div class="media-body">
						    <h4 class="media-heading"><{$vo.title}>:<{$vo.realname}></h4>
						    <{$vo.desc}>
						</div>
					</div>
					
			 		</volist>		
   				
            	</div>
        	</div>          	
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
             	<div class="panel-heading">
                  	<h3 class="panel-title">关于我们</h3>
            	</div>            
                <ul class="list-group">
			        <li class="list-group-item"><a href="__APP__/Anshun/About/about" title="关于我们">关于我们</a></li>
			        <li class="list-group-item">技师风采</li>
			        <li class="list-group-item"><a href="__APP__/Anshun/About/hr" title="诚聘人才">诚聘人才</a></li>
			    </ul>                        
            </div>          
        </div>
    </div>