<layout name="layout" />
<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h3 >诚聘人才-修改</h3>   
          <div class="panel panel-default">         
            <div class="panel-body addmod">
                <form action="__URL__/update" method="post" enctype='multipart/form-data' role="form">
                <input type="hidden" name="id" value="<{$data.id}>" />
                  <div class="form-group input-group-lg">
                      <label for="exampleInputrealname">职位：</label>
                      <input type="text" class="form-control" name="title" value="<{$data.title}>" placeholder="职位" > 
                  </div>
                  <div class="form-group input-group-lg">
                      <label for="exampleInputrealname">薪酬：</label>
                      <input type="text" class="form-control" name="salary" value="<{$data.salary}>" placeholder="薪酬" > 
                  </div>
                  <div class="form-group input-group-lg">
                      <label for="exampleInputrealname">状态：</label>
                      <input type="text" class="form-control" name="state" value="<{$data.state}>" readonly > 
                  </div>
                  <div class="form-group input-group-lg">
                      <label for="exampleInputrealname">地点：</label>
                      <input type="text" class="form-control" name="place" value="<{$data.place}>" placeholder="地点" > 
                  </div>
                  <div class="form-group input-group-lg">
                      <label for="exampleInputrealname">描述：</label>
                      <{$desc}>
                      <!-- <textarea class="form-control" name="desc" rows="5"><{$data.desc}></textarea> -->                      
                  </div>
                  <button type="submit" class="btn btn-info btn-lg pull-left" >提 交</button>
                </form>
                  <div class="btn-group pull-right">                   
                    <a href="__URL__" type="button" class="btn btn-warning btn-lg" >返 回</a>
                  </div>
              </div>
          </div>
    </div>                      
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">职位</h3>
            </div>            
            <ul class="list-group">
            <volist name='arr' id='vo' empty="没有数据">
                <li class="list-group-item" title="诚聘人才"><a href="__URL__/mod/id/<{$vo.id}>""><{$vo.title}>:<{$vo.state}></a></li>
            </volist>            
            </ul>                        
        </div>          
    </div>
</div>
    </div>
</div>                 
                            
