<layout name="layout" />  
<div class="container-fluid">
	<div class="row">
  		<div class="col-md-9">
  			<div class="panel-body addmod">
  			<h3>项目-编辑 </h3>		     	  		     	 	  
					  <div class="form-group">
					    <label for="prono" class="col-sm-1 control-label">编号:</label>
					    <div class="col-sm-2">
					      <input type="text" class="form-control" name="code" value="<{$p.code}>" readonly>
					    </div>
					    <label for="testgp" class="col-sm-1 control-label">分组:</label>
					    <div class="col-sm-2">
					     	<input type="text" class="form-control" name="testgp" value="<{$p.testgp}>" readonly>
					    </div>
					    <label for="program" class="col-sm-1 control-label">项目:</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" name="name" value="<{$p.name}>" placeholder="项目" readonly>
					    </div>
					  </div>
					  
					  
					  
					  <div class="form-group">
					    
					    <label for="program" class="col-sm-1 control-label">状态:</label>
					    <div class="col-sm-2">
					    	<input type="text" class="form-control" name="status" value="<{$p.status}>" readonly>					      
					    </div>
					    <label for="start" class="col-sm-1 control-label">开始:</label>
					    <div class="col-sm-3">
					      <input type="date" class="form-control" name="begin" value="<{$p.begin}>" readonly>
					    </div>
					    <label for="end" class="col-sm-1 control-label">结束:</label>
					    <div class="col-sm-4">
					      <input type="date" class="form-control" name="end" value="<{$p.end}>" readonly>
					    </div>
					  </div>
					  
					 
					  
					  
					 
					  <div class="form-group">
					    <label for="pm" class="col-sm-1 control-label">PO:</label>
					    <div class="col-sm-2">
					      <input type="text" class="form-control" name="po" value="<{$p.po}>" placeholder="产品经理" readonly>
					    </div>
					    <label for="end" class="col-sm-1 control-label">测试:</label>
					    <div class="col-sm-2">
					    <input type="text" class="form-control" name="qd" value="<{$p.qd}>" placeholder="测试负责人" readonly>					      
					    </div>
					    <label for="develop" class="col-sm-1 control-label">研发:</label>
					    <div class="col-sm-2">
					     	<input type="text" class="form-control" name="develop" value="<{$p.develop}>" placeholder="研发负责人" readonly>
					    </div>
					    <label for="pm" class="col-sm-1 control-label">PM:</label>
					    <div class="col-sm-2">
					      <input type="text" class="form-control" name="pm" value="<{$p.pm}>" placeholder="项目经理" readonly>
					    </div>
					    
					    
					  </div>
					  
					  
					  <div class="form-group" >
					  <label for="pm" class="col-sm-1 control-label">简介:</label>
					   <div class="col-sm-11">
					 	 <textarea name="profile" rows="10" readonly style="width:100%;text-align: left;" >
							<{$p.desc}>
						</textarea>
					  </div>
					  </div>
		  
					  
                     <a href="__URL__" type="button"  class="btn btn-warning btn-lg" >返 回</a>
                 
  		     	</div>	
            
  		</div>
 		 <div class="col-md-3 hidden-xs hidden-sm">
 		 	<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">项目</h3>
            </div>            
            <ul class="list-group">
  			 <volist name='data' id='vo' empty="没有数据">
  			 <li class="list-group-item" >
            	<a href="__URL__/mod/id/<{$vo.id}>"><{$vo.code}>:<{$vo.name}></a>
				</li>
        	</volist>
        	</ul>
        	</div>
                   
         	
  		</div>
	</div>           
</div><!-- container -->
