<layout name="layout" />
<div class="row">
    <div class="col-sm-9">          
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">诚聘人才</h3></div>            	                 	
        	<volist name='data' id='vo' empty="没有数据">
       			<div class="page_tt"><{$vo.title}><span style="margin-left:30px;">工资：<{$vo.salary}></span>
         			<span style="float:right;"> 发布日期：<{$vo.date}></span>
				</div>
				<div class="danye_main">		    
		    		<span style=" float:left;width:600px;"><{$vo.desc}></span>
				</div>						
			</volist>		   				
        	</div>          	
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">关于我们</h3></div>            
            <ul class="list-group">
			   <li class="list-group-item"><a href="__APP__/Mtsh/About/index" title="关于我们">关于我们</a></li>
			   <li class="list-group-item">诚聘人才</li>
			</ul>                        
        </div>          
     </div>
 </div>