<layout name="layout" />


  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">            
      <ul class="nav navbar-nav navbar-left">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><{$w.testgp}>组 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	<volist name='data' id='da' empty="没有数据">
            	<li><a href="__APP__/Home/Program/index/testgp/<{$da.v}>"><{$da.v}>组</a></li>                       	            
            </volist>
          </ul>
        </li>
      </ul>
      <form action="__URL__/search " method="post" class="navbar-form navbar-left " role="search">
        <div class="form-group input-group ">
          <input  type="text" class="form-control" name="search" value="<{$w.search}>" placeholder="项目、负责人、状态">
          <input  type="hidden"  name="testgp" value="<{$w.testgp}>" >
          <span class="input-group-btn">
         	 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        
      </form>
    </div>
   
  </div><!-- /.container-fluid -->
  
  
  <div class="starter-template">
               <h3 >近期【<{$w.testgp}>】组项目</h3>
              
                 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                 <br>
                  <volist name='arr' id='pro' empty="没有数据">
                     <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading<{$pro.id}>">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#<{$pro.id}>" aria-expanded="true" aria-controls="<{$pro.id}>">
					         <{$pro.end}>:<{$pro.manager}>:<{$pro.prost}></a>
						
					          <div class="btn-group pull-right"  style="margin-top:-6px;">
					              <button type="button" class="btn btn-warning btn-sm ">
					              	  <a  target="_blank" href="__APP__/Home/Func/range/proid/<{$pro.id}>">范围 <{$pro.id|countRange=###}> </a>
					              </button>
					              <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
					                <span class="caret"></span>
					                <span class="sr-only">Toggle Dropdown</span>
					              </button>
					              <ul class="dropdown-menu" role="menu">
					                <li><a target="_blank" href="__APP__/Home/Risk/index/proid/<{$pro.id}>">风险 <span class="badge pull-right"><{$pro.id|countRisk=###}></span> </a></li>
					                <li><a target="_blank" href="__APP__/Home/Stage/index/proid/<{$pro.id}> ">里程碑 <span class="badge pull-right"><{$pro.id|countStage=###}></span> </a></li>
					                <li><a target="_blank" href="__APP__/Home/Scene/index/proid/<{$pro.id}>">场景 <span class="badge pull-right"><{$pro.id|countScene=###}><span></a></li>
					                <li><a target="_blank" href="__APP__/Home/Func/func/proid/<{$pro.id}>">功能点&nbsp;</a></li>					                				                
					                <li><a target="_blank" href="__APP__/Home/Case/procase/proid/<{$pro.id}>">用例<span class="badge pull-right"><{$pro.id|countCase=###}></span></a></li>				                
					             
					              </ul>
					            </div>
					      
					      </h4>
					    </div>
					    <div id="<{$pro.id}>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<{$pro.id}>">
					      <div class="panel-body">
					        <{$pro.prono}>:<{$pro.program}><br>
					        <{$pro.retype}>:<{$pro.relevel}>，产品经理：<{$pro.pm}><br>
					        <div class="well well-sm"><{$pro.profile}></div>
					      </div>
					    </div>
  					</div>
                      
                  </volist>
                 </div>
             </div>
  
  
  
