 <layout name="layout" />
        <div class="place">
                                 所在位置：
             <a href="__APP__/Admin/User">用户</a>
             >技师风采
             <span style="float:right;margin-right:60px;">
              <a href="__APP__/Admin/User">  返回</a>
             </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">技师风采</div>
              <div class="left">
                    <volist name='data' id='vo' empty="没有数据">
                       <ul><li><a href="__URL__/mod/id/<{$vo.id}>""><{$vo.realname}></a></li></ul>
                    </volist>
              </div>
              <div class="midd">

                  <table border="0" width="500" align="left">
                    <form action="__URL__/update" method="post" enctype='multipart/form-data'>
                      <input type="hidden" name="id" value="<{$user.id}>" />
                      <tr><td> 更新：</td><td><{$user.moder}>更新于:<{$user.updatetime}></td></tr>
                      <tr><td>姓名：</td><td><{$user.realname}></td></tr>
                      <tr><td>技师：</td><td><{$tech}></td></tr>
                      <tr><td>职称：</td><td><input type="text" name="title" value="<{$user.title}>" class="input300"/></td></tr>
                      <tr><td>描述：</td><td><{$desc}></td></tr>
                      <tr><td></td>
                         <td>
                         <input type="submit" class="btn" name="do_submit" value="提交"></form>
                          <a href="__APP__/Admin/User"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->
