 <layout name="layout" />
<h3 >上传照片</h3>
<div class="panel panel-default">  
     <div class="panel-body">
         <form action="__URL__/img" method="post" enctype='multipart/form-data'  role="form">
         <input type="hidden" name="id" value="<{$user.id}>" />
               <div class="panel panel-default">
                    <img alt="头像" src="__UPLOAD__/<{$_SESSION['qz']}><{$user.path}><{$user.img}>" class="pull-left" height="300px;">
                    <label for="exampleupdateTime">姓名：</label>
                     <{$user.realname}>                     
                     <input type="file" name="img"> <br>
                     <{$user.remark}><br>
                     <{$user.path}>
               </div>                                       
               <button type="submit" class="btn btn-info  pull-left" >提 交</button></form>
       	 	   <a href="__URL__" type="button"  class="btn btn-warning pull-right" >返 回</a>
       </div>
       
              
</div>
                    
    
