 <layout name="layout" />
<h3 >上传照片
    <a href="__URL__"><button type="button" class="btn btn-warning btn-xs pull-right">返回</button></a>
</h3>
<div class="panel panel-default">
  
     <div class="panel-body">
         <form action="__URL__/imgh" method="post" enctype='multipart/form-data'  role="form">
         <input type="hidden" name="id" value="<{$user.id}>" />
               <div class="panel panel-default">
                    <img alt="头像" src="__UPLOAD__/<{$_SESSION['qz']}><{$user.path}><{$user.img}>" class="pull-left" height="300px;">
                    <label for="exampleupdateTime">姓名：</label>
                     <{$user.realname}>
                     
                     <input type="file" name="img"> <br>
                     <{$user.remark}><br>
                     <{$user.path}>
               </div>                                       
              
       </div>
        <button type="submit" class="btn btn-info  pull-left" >提 交</button>
          </form>
               <div class="btn-group pull-right">
                        <a href="__URL__"><button  class="btn btn-warning" >返 回</button></a>
               </div>
</div>
                    
    
