<layout name="layout" />	
<div id="home">
	<div id="items">
		<div class="cont-area">
		      <div class="container banner-area">
		        <ul class="slides clearfix">
		          <li>
		            <h1><{$_SESSION['Xinda']['web']}></h1>
		            <h5>主营业务：<a href="http://www.xiuliguanggao.com/" title="主营业务" target="_blank">业务1、业务2</a></h5>
		            <br><br>
		            <div>
		              <a class="large-button" href="tel:18801043607">电话咨询</a>
		            </div>
		            <br><br>
		          </li>
		        </ul>
		      </div>
		 </div>
		 <div class="banner-btm-img"><img src="https://cdn.mailblast.io/assets/buildings-0a6a185ee753f3d1ebe524e823d607eeca456157112d59dbef7736bf686e851c.png" alt="Buildings" /></div>
	</div>
</div>


<div class="about-area text-center">
  	<div class="section-spacing about-top-area">
    	<div class="container">
      		<div class="top-float-img">
       		 	<div class="image-container">
       		 		<img src="https://cdn.mailblast.io/assets/rocket-dd7515a01eb528d82a9213ba38cc1f66f871088766fdac4d5e64d8dbadc58d37.png" alt="Rocket" />
       		 	</div>
      		</div>
       </div>
   </div>
</div>


<div class="slogan-area text-center">
  	<div class="section-spacing">
    	<div class="container">
      		<div style="margin-top: -7rem">
       			 <h1>主营业务</h1>
        			<h5>业务描述<a href="https://aws.amazon.com/ses/" title="Amazon SES" target="_blank">Simple Email Service</a></h5>
        			<h5>Save money and time without sacrificing deliverability.</h5>
      		</div>
      		<div class="divider_line"></div>
    	</div>
  	</div>
</div>

<div class="features-area text-center">
  <div class="section-spacing">
    <div class="container">
      <h1 class="text-center mb-5">推荐产品</h1>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <h4>产品one</h4>
          <h5 class="text-center">产品one介绍</h5>
        </div>
        <div class="col-lg-7">
          <img class="img-fluid" src="https://cdn.mailblast.io/assets/list-50ad5615e1e0df9354f78ff3d98e8c496931245b1427a86750386ef5104e18a5.png" alt="List" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5 push-lg-7">
          <h4>Send Campaigns</h4>
          <h5 class="text-center">Create, test and schedule campaigns using an easy to use wizard.</h5>
        </div>
        <div class="col-lg-7 pull-lg-5">
          <img class="img-fluid" src="https://cdn.mailblast.io/assets/campaign-c3032257a370cfdec294d866cb3c6951542b3f0acaff85b664b7b5fc668ac853.png" alt="Campaign" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <h4>Detailed Reports</h4>
          <h5 class="text-center">See detailed reports on every campaign. Bounces and complaints are automatically filtered for future campaigns.</h5>
        </div>
        <div class="col-lg-7">
          <img class="img-fluid" src="https://cdn.mailblast.io/assets/report-5e5760aec4e92a3b1f42bf7bb88e2f9033a1fca00609848ea54c1034ad36d4ef.png" alt="Report" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5 push-lg-7">
          <h4>Marketing Automation</h4>
          <h5 class="text-center">Send scheduled automated emails to users who sign up to your list.</h5>
        </div>
        <div class="col-lg-7 pull-lg-5">
          <img class="img-fluid" src="https://cdn.mailblast.io/assets/automation-c5b14d964ff4d5b7de87582a4abc90c8981cd6912a6b54e302f6a21e0d60bd97.png" alt="Automation" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <h4>Signup Forms</h4>
          <h5 class="text-center">Embed Signup forms on your website to drive subscribers to your list.</h5>
        </div>
        <div class="col-lg-7">
          <img class="img-fluid" src="https://cdn.mailblast.io/assets/forms-6fca82e2459b89af24a8e4fb7d30e538560660a25077fc001e3d5d943a5f884d.png" alt="Forms" />
        </div>
       </div>
      <div class="divider_line"></div>
     </div>
  </div>
</div>


<div class="signup-area text-center">
  <div class="section-spacing">
    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <a class="btn btn-primary btn-lg " href="/users/sign_up">Start with Free Plan</a>
          <p class="text-muted">XXX.</p>
          <p class="text-muted">XXX</p>
        </div>
        <div class="divider_line"></div>
      </div>
    </div>
  </div>
</div>

		  <div class="push"></div>
    </div>















