 <layout name="layout" />
 <h2>待测模块库 <span class="pull-right">当前项目：<{$_SESSION['proid']|getProNo=###}><a href="__APP__/TAdmin/Exescene/queue/stagetesterid/<{$stagetesterid}>"> 返回</a></span></h2>
<div class="row">
  <div class="col-md-6">
		<table border="1" width="95%" align="left">
            <tr>
                <th width=83% align="left" bgcolor="#ccc">列队场景</th>
            </tr>
            <volist name='exe' id='ex'>
            <tr>             
                <td ><a href="#" ><{$ex.id}>:<{$ex.swho}>【<{$ex.swhen}>】<{$ex.scene}></a></td>
            </tr>
            </volist>
        </table>
  </div>
  <div class="col-md-6">
  		<table border="1" width="100%" align="left">
            <tr>               
                <th width=90% align="left" bgcolor="#ccc">待测模块</th>
            </tr>
            <volist name='data' id='pa'>
            <tr>
               
                <td ><a href="#" ><{$pa.id}>:<{$pa.system}>-<{$pa.path}><{$pa.state}> </a>
                    <a href="__URL__/jion/pathid/<{$pa.id}>/stagetesterid/<{$stagetesterid}>" 
                    type="button" class="btn btn-info btn-xs pull-right">加入<span class="badge"><{$pa.id|countFunc=###}></span></a>
                </td>
               
            </tr>
            </volist>
        </table>
  </div>
</div>       